@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  background: #050814;
  color: #edf2ff;
  font-size: 1.8rem;
  transition: all 0.6s ease-in-out;
  padding: 5rem 0;
}

.app-wrap {
  background: #050814;
  box-shadow: 0 0.2rem 1rem #10183c;
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 3rem;
  padding: 1.5rem 1.5rem;
}

.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.app-nav .light--mode {
  fill: #edf2ff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.app-nav .dark--mode {
  fill: #edf2ff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
}

.container {
  margin: 0 auto;
  width: 70%;
}
.container .search-segment {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  background: rgba(54, 79, 199, 0.15);
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  margin-bottom: 5rem;
}
.container .search-segment .search-icon {
  height: 34px;
  width: 34px;
  stroke: #364fc7;
}
.container .search-segment form {
  width: 100%;
}
.container .search-segment form .search-input {
  padding: 0.8rem 0.5rem;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: #edf2ff;
}
.container .search-segment form .search-input::-webkit-input-placeholder {
  color: #edf2ff;
}
.container .search-segment .search-btn {
  padding: 1rem 1.8rem;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
  background: #364fc7;
  color: #edf2ff;
  font-size: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.container .search-segment .search-btn:hover, .container .search-segment .search-btn:active {
  box-shadow: 0 0 0 0.15rem #364fc7;
  background: transparent;
  color: #364fc7;
}

.display-info-segment {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background: rgba(16, 24, 60, 0.8);
  border-radius: 1.2rem;
  padding: 1.3rem 4rem;
}
.display-info-segment .display-info-first-content {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-left: 2rem;
}
.display-info-segment .display-info-first-content .display-info-image {
  width: 120px;
  border-radius: 50%;
}
.display-info-segment .display-info-first-content .display-info-upper-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.display-info-segment .display-info-first-content .display-info-upper-info .display-info-name {
  font-size: 3rem;
  font-weight: 600;
}
.display-info-segment .display-info-first-content .display-info-upper-info .display-info-username {
  font-weight: 400;
  font-size: 1.8rem;
  color: #364fc7;
}
.display-info-segment .display-info-first-content .display-info-upper-info .joined-date {
  color: #364fc7;
  margin-left: 1rem;
}
.display-info-segment .display-info-second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-info-segment .display-info-second-content .display-info-profile-about {
  font-weight: 300;
  letter-spacing: 0.16rem;
  line-height: 1.6;
  font-size: 1.8rem;
}
.display-info-segment .display-info-third-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #050814;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
}
.display-info-segment .display-info-fourth-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.display-info-segment .display-info-fourth-content .profile-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.display-info-segment .display-info-fourth-content .profile-link .profile--link a:link, .display-info-segment .display-info-fourth-content .profile-link .profile--link a:visited {
  color: #364fc7;
  text-decoration: none;
  letter-spacing: 0.2rem;
}
.display-info-segment .display-info-fourth-content .builder-copyRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
}
.display-info-segment .display-info-fourth-content .builder-copyRight .copyRight {
  font-size: 1.6rem;
  font-weight: 400;
  color: #364fc7;
}

.follower, .repo, .following {
  opacity: 0.4;
}

.followers, .repos, .followings {
  text-align: center;
}

.darkIt {
  box-shadow: 0 0 0 0.3rem #0b1028;
  background: rgba(16, 24, 60, 0.6);
}/*# sourceMappingURL=main.css.map */