@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
$primary: #364fc7;
$pre-primary: #edf2ff;
$dark-one: #0b1028;
$dark-two: #050814;
$dark-three: #10183c;
// 
// 
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
img{
  width: 100%;
}
body{
  background: $dark-two;
  color: $pre-primary;
  font-size: 1.8rem;
  transition: all .6s ease-in-out;
  padding: 5rem 0;
}
.app-wrap{
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 3rem;
  padding: 1.5rem 1.5rem;
}
.app-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  border-bottom: .35rem solid $dark-three;
  padding: .8rem 1.6rem;
  & .light--mode{
  fill: $pre-primary;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
  & .dark--mode{
  fill: $pre-primary;
  cursor: pointer;
  transition: all .5s ease-in-out;
  display: none;
}
}
.container{
  margin: 0 auto;
  width:100%;
  & .search-segment{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    background: rgba($primary, $alpha: 0.15);
    padding: .8rem 1.6rem;
    border-radius: .8rem;
    margin-bottom: 5rem;
    & .search-icon{
  height: 34px;
  width: 34px;
  stroke: $primary;
  }
    & form{
      width: 100%;
      display: flex;
       & .search-input{
      padding: .8rem .5rem;
      width: 100%;
      background: transparent;
      outline: none;
      border: none;
      font-size: 1.4rem;
      color: $pre-primary;
    }
    }
    & .search-btn{
      padding: 1rem 1.8rem;
      border-radius: 1rem;
      transition: all .4s ease-in-out;
      background: $primary;
      color: $pre-primary;
      font-size: 1.5rem;
      outline: none;
      border: none;
      cursor: pointer;
    }
    & .search-btn:hover,.search-btn:active{
      box-shadow: 0 0 0 .15rem $primary;
      background: transparent;
      color: $primary;
    }
  }
}
// 
// 
// 
.display-info-segment{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background: rgba($dark-three, 0.9);
  border-radius: 1.2rem;
  padding: 1.3rem 4rem;
  & .display-info-first-content{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-left: 2rem;
    & .display-info-image{
      width: 120px;
      border-radius: 50%;
    }
    & .display-info-upper-info{
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      & .display-info-name{
        font-size: 3rem;
        font-weight: 600;
      }
      & .display-info-username{
        font-weight: 400;
        font-size: 1.8rem;
        color: $primary;
      }
      & .joined-date{
        color: $primary;
        margin-left: 1rem;
      }
    }
  }
  // 
  // 
  & .display-info-second-content{
    display: flex;
    flex-direction: column;
    align-items: center;
      & .display-info-profile-about{
    font-weight: 300;
    letter-spacing: .16rem;
    line-height: 1.6;
    font-size: 1.8rem;
  }
  }
  // 
  // 
  & .display-info-third-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $dark-two;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
  }
  // 
  // 
  & .display-info-fourth-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    & .profile-link{
      display: flex;
      align-items: center;
      gap: 1rem;
      & .profile--link a:link, & .profile--link a:visited{
        color: $primary;
        text-decoration: none;
        letter-spacing: .2rem;
      }
    }
    & .builder-copyRight{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: .9rem;
      & .copyRight{
        font-size: 1.6rem;
        font-weight: 400;
        color: $primary;
      }
    }
  }
}
.follower,.repo,.following{
  opacity: .4;
}
.followers,.repos,.followings{
  text-align: center;
}
.developerName a:link,.developerName a:visited{
  text-decoration: underline;
  color: $pre-primary;
}
.secure-copyRight{
  text-align: center;
}
.last-lastContent{
  margin-top: -3rem;
}
.last-lastContent a{
  color: $primary;
}
// 
// 
// MEDIA QUERY
// 
// 
@media screen and (max-width: 768px){
  .display-info-first-content{
    flex-direction: column;
    gap: 2rem !important;
    & .display-info-upper-info{
      align-items: center;
    }
  }
  .display-info-profile-about{
    text-align: center;
  }
  .display-info-fourth-content{
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 576px){
  .app-wrap{
    width: 95%;
  }
}
@media screen and (max-width: 476px){
  .display-info-third-content{
    flex-direction: column;
    gap: 1.2rem;
  }

  form{
    & .search-input{
      font-size: 1.18rem !important;
    }
  }
}